.header{
  display: flex;
  gap: 20px;
}

.link__home{
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background: #8b00ff;
}
.link__home img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}